[Unit]
Description=NodeManager Exporter

[Service]
User=apps
Group=apps
Restart=always
EnvironmentFile=/etc/sysconfig/nodemanager_exporter
ExecStart=/usr/sbin/nodemanager_exporter $OPTIONS

[Install]
WantedBy=multi-user.target
